[submodule "libft"]
	path = libft
	url = https://github.com/Gsoteldo/libft-cursus.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Gsoteldo/get_next_line-cursus.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Gsoteldo/ft_printf-cursus.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/Gsoteldo/minishell-cursus.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/Gsoteldo/minitalk-cursus.git
[submodule "philosopher"]
	path = philosopher
	url = https://github.com/Gsoteldo/philosophers-cursus.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/Gsoteldo/push_swap-cursus.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/Gsoteldo/so_long-cursus.git
