[submodule "libft"]
	path = libft
	url = https://github.com/Gsoteldo/libft-cursus.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Gsoteldo/get_next_line-cursus.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Gsoteldo/ft_printf-cursus.git
